/build
/Session.vim
[._]*.swp
*~
tags
.DS_Store
*.snap
/tools/output/xxhash.h
/.vscode
compile_commands.json

# Rust
target/

# Too Large Tests
/tests/argon
/tests/large

/retranspile/

.gdb_history
.gdbinit
