[workspace]
members = [
]
[package]
name = "c2rust_out"
authors = ["C2Rust"]
version = "0.0.0"
publish = false
edition = "2021"
autobins = false
autotests = false

[lib]
name = "rav1d"
path = "lib.rs"
crate-type = ["staticlib", "rlib"]
[[bin]]
path = "tools/dav1d.rs"
name = "dav1d"
[[bin]]
path = "tests/seek_stress.rs"
name = "seek_stress"
[dependencies]
c2rust-bitfields= "0.3"
cfg-if = "1.0.0"
libc= "0.2"
num_cpus = "1.0"
paste = "1.0.14"

[build-dependencies]
cc = "1.0.79"
nasm-rs = "0.2.4"

[features]
default = ["asm", "bitdepth_8", "bitdepth_16"]
asm = []
bitdepth_8 = []
bitdepth_16 = []

[profile.dev]
# As we port, we increasingly use operations that require more optimizations to be zero-cost,
# so while `--release` perf stays the same, debug perf suffers a lot,
# unless we enable the basic optimizations (`opt-level = 1`),
# which don't increase compile-time that much.
opt-level = 1
