name: build and test on x86-64
on: [push, pull_request]
jobs:
  test-on-ubuntu-latest:
    strategy:
      matrix:
        target: [
          "x86_64-unknown-linux-gnu",
          "i686-unknown-linux-gnu"
        ]
    runs-on: ubuntu-latest
    steps:
      - name: install prerequisites
        run: |
          # make sure we don't silently continue
          set -euo pipefail
          sudo apt-get update --quiet=2
          sudo apt-get install --yes meson nasm gcc-multilib
        env:
          DEBIAN_FRONTEND: noninteractive
      - name: git checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache rust toolchain
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
            ~/.rustup/settings.toml
          key: ${{ runner.os }}-rust-toolchain-${{ hashFiles('rust-toolchain', 'rust-toolchain.toml') }}
      - name: cache rust crates
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: cargo build for ${{ matrix.target }}
        run: |
          cargo clean
          rustup target add ${{ matrix.target }} --toolchain nightly-2022-08-08
          # debug build to catch overflows
          cargo build --target ${{ matrix.target }}
      - name: meson test for ${{ matrix.target }}
        run: |
          .github/workflows/test.sh -r ../target/${{ matrix.target }}/debug/dav1d
          cp ${{ github.workspace }}/build/meson-logs/testlog.txt \
             ${{ github.workspace }}/build/meson-logs/testlog-${{ matrix.target }}.txt
      - name: upload build artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        with:
          name: meson-test-logs
          path: |
             ${{ github.workspace }}/build/meson-logs/testlog-*.txt
